## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.randint?

In [3]:
data = {'國家': ['country_'+str(i) for i in range(10)],
        '人口': np.random.randint(low=1e3, high=1e8, size=10)}
data = pd.DataFrame(data)

In [4]:
data

         人口         國家
0  21516416  country_0
1  18036691  country_1
2  46774113  country_2
3  49802842  country_3
4  78431266  country_4
5  41599717  country_5
6  55016766  country_6
7  30334234  country_7
8  50424552  country_8
9  18200716  country_9

In [5]:
max_index = data['人口'].argmax()
print(data['國家'][max_index])

country_4

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: 'argmax' is deprecated. Use 'idxmax' instead. The behavior of 'argmax' will be corrected to return the positional maximum in the future. Use 'series.values.argmax' to get the position of the maximum now.
  """Entry point for launching an IPython kernel.